<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621003923351-fpg1jgat8uag75gu8stl0bhqljhe9qqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621003923351-fpg1jgat8uag75gu8stl0bhqljhe9qqa</string>
	<key>API_KEY</key>
	<string>AIzaSyDBYmZqhx8qJ1R06FMdUvyXRXIyvmxy6Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>621003923351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>toolRCM.de.com</string>
	<key>PROJECT_ID</key>
	<string>toolrcm</string>
	<key>STORAGE_BUCKET</key>
	<string>toolrcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621003923351:ios:9ed620089b4c1e59a76ed2</string>
</dict>
</plist>